<%- include('partials/header') %>
<a class="btn btn-dark btn-lg logout" href="/logout" role="button">Log Out</a>

<div class="jumbotron centered">
    <div class="container">
        <img class="imgf" src="<%= user.picture %>" alt="">
        <h5 class="name"><%= user.name %></h5>
    </div>
  </div>



<%- include('partials/footer') %>