<%- include('partials/header') %>
<div class="jumbotron centered">
  <div class="container">
<div class="g-signin2 btn centered" data-onsuccess="onSignIn"></div>

  </div>
</div>
<script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
        if (xhr.responseText== 'sucess'){
            signOut();
            location.assign('/dashboard')
        }
        };
        xhr.send(JSON.stringify({token: id_token}));
    }    
</script>
<script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>

<%- include('partials/footer') %>